* {
    margin: 0;
    padding: 0;
}
/* color pallet */
:root {
    --darkblue: #023040;
    --lightblue: #4a748c;
    --darkgreen: #082922;
    --lightgreen: #708563;
    --white: #f1f1f1;
    --black: #000000;
}

body {
    background-color: var(--darkblue);
}

/* header / navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    padding: 10px;
    position: relative;
    border-bottom: var(--white) solid 4px;
    background-color: var(--lightblue);
}

header h1 {
    color: var(--white);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .2rem;
    padding-top: 2px;
    padding-left: 20px;
}

header a {
    color: var(--white);
    padding: 10px 15px;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* Hero photo */

.hero {
    display: flex;
    height: 80vh;
    width: 100%;
    background-image: url("../images/hero1.jpg");
    background-size: cover;
    background-position: center;
    border-bottom: var(--darkblue) solid 4px;
    justify-content: center;
    align-items: center;
}

.heroContainer {
    margin: auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.heroText h2 {
    font-size: 60px;
    font-family: "Noto Sans", sans-serif;
    color: var(--lightblue);
}

.heroText {
    margin-right: 40px;
}

.heroText p{
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
    font-size: 700;
}

.heroImg {
    width: 300px;
    height: 300px;
}

.heroImg  img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}


/* I saw a repeating pattern with flex container with sidebar and content*/
.container {
    background-color: var(--white);
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.sidebar {
    background-color: var(--lightblue);
    color: var(--white);
    padding: 20px;
    border-right: var(--lightgreen) solid 4px;
    font-family: "Bebas Neue", sans-serif;
    text-align: right;
    font-size: 25px;
    width: 20%;
}

.content {
    background-color: var(--white);
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    width: 100%;
    padding: 10px;
    margin: 0 60px 0 20px;
}


/* <<<My Work>>> */
/* I had to use the calc to add the margin with out the item overflowing and I Found the solution on stackover flow */

.card {
    width: calc(50% - 8px); 
    height: 150px;
    box-sizing: border-box;
    border: var(--lightgreen) solid 4px;
    margin: 4px;
    position: relative;
    overflow: hidden;
}

.card h3 {
    position: absolute;
    background-color: var(--lightgreen);
    font-family: "Noto Sans", sans-serif;
    padding: 8px;
    border-radius: 0 10px 10px 0;
    font-size: 30px;
    top: 15px;
    z-index: 1;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card a {
    text-decoration: none;
    color: white;
}

/* making the first card bigger */
.card:nth-child(1) {
    width: 100%;
    height: 300px;
}

/* IMG hover affect */
.card img:hover {
    transform: scale(1.02);
    z-index: -2;
}


/* Resizing the card at 992px */
@media screen and (max-width: 992px) {
    .card {
        width: 100%;
    }
}

/* Resizing at 730px */
@media screen and (max-width: 815px) {
    .container {
        background-color: var(--white);
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 10px;
    }

    .sidebar {
        background-color: var(--lightblue);
        color: var(--white);
        padding: 20px;
        border-right: none;
        border-bottom: var(--lightgreen) solid 4px;
        font-family: "Bebas Neue", sans-serif;
        text-align: center;
        font-size: 25px;
        width: auto;
    }

    .content {
        background-color: var(--white);
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        width: auto;
        padding: 10px;
        margin: 0 20px;
    }
}



/* <<<footer>>> */

footer a {
    width: 100%;
}

footer .card:nth-child(1) {
    width: 100%;
    height: 300px;
}

footer p {
    text-decoration: underline;
    font-family: "Noto Sans", sans-serif;
    color: var(--darkblue);
}

.contactInfo div{
    margin: auto;
}

.ContactInfo {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}